.calendar-mon > div:nth-child(1) {
  grid-column-start: 1; }

.calendar-tue > div:nth-child(1) {
  grid-column-start: 2; }

.calendar-wed > div:nth-child(1) {
  grid-column-start: 3; }

.calendar-thur > div:nth-child(1) {
  grid-column-start: 4; }

.calendar-fri > div:nth-child(1) {
  grid-column-start: 5; }

.calendar-sat > div:nth-child(1) {
  grid-column-start: 6; }

.calendar-sun > div:nth-child(1) {
  grid-column-start: 7; }

.calendar {
  display: grid;
  grid-gap: 1px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 100px); }

.calendar-1 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-1 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(1)::after {
  content: "1";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-2 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-2 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(2)::after {
  content: "2";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-3 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-3 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(3)::after {
  content: "3";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-4 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-4 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(4)::after {
  content: "4";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-5 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-5 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(5)::after {
  content: "5";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-6 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-6 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(6)::after {
  content: "6";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-7 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-7 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(7)::after {
  content: "7";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-8 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-8 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(8)::after {
  content: "8";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-9 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-9 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(9)::after {
  content: "9";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-10 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-10 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(10)::after {
  content: "10";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-11 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-11 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(11)::after {
  content: "11";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-12 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-12 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(12)::after {
  content: "12";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-13 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-13 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(13)::after {
  content: "13";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-14 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-14 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(14)::after {
  content: "14";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-15 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-15 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(15)::after {
  content: "15";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-16 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-16 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(16)::after {
  content: "16";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-17 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-17 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(17)::after {
  content: "17";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-18 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-18 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(18)::after {
  content: "18";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-19 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-19 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(19)::after {
  content: "19";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-20 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-20 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(20)::after {
  content: "20";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-21 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-21 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(21)::after {
  content: "21";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-22 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-22 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(22)::after {
  content: "22";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-23 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-23 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(23)::after {
  content: "23";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-24 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-24 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(24)::after {
  content: "24";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-25 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-25 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(25)::after {
  content: "25";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-26 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-26 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(26)::after {
  content: "26";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-27 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-27 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(27)::after {
  content: "27";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-28 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-28 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(28)::after {
  content: "28";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-29 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-29 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(29)::after {
  content: "29";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-30 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-30 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(30)::after {
  content: "30";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

.calendar-31 div, .calendar-1 div, .calendar-2 div, .calendar-3 div, .calendar-4 div, .calendar-5 div, .calendar-6 div, .calendar-7 div, .calendar-8 div, .calendar-9 div, .calendar-10 div, .calendar-11 div, .calendar-12 div, .calendar-13 div, .calendar-14 div, .calendar-15 div, .calendar-16 div, .calendar-17 div, .calendar-18 div, .calendar-19 div, .calendar-20 div, .calendar-21 div, .calendar-22 div, .calendar-23 div, .calendar-24 div, .calendar-25 div, .calendar-26 div, .calendar-27 div, .calendar-28 div, .calendar-29 div, .calendar-30 div {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 1px solid black;
  box-sizing: border-box;
  transition: background-color 0.5s, transform 0.5s; }

.calendar-31 div:hover, .calendar-1 div:hover, .calendar-2 div:hover, .calendar-3 div:hover, .calendar-4 div:hover, .calendar-5 div:hover, .calendar-6 div:hover, .calendar-7 div:hover, .calendar-8 div:hover, .calendar-9 div:hover, .calendar-10 div:hover, .calendar-11 div:hover, .calendar-12 div:hover, .calendar-13 div:hover, .calendar-14 div:hover, .calendar-15 div:hover, .calendar-16 div:hover, .calendar-17 div:hover, .calendar-18 div:hover, .calendar-19 div:hover, .calendar-20 div:hover, .calendar-21 div:hover, .calendar-22 div:hover, .calendar-23 div:hover, .calendar-24 div:hover, .calendar-25 div:hover, .calendar-26 div:hover, .calendar-27 div:hover, .calendar-28 div:hover, .calendar-29 div:hover, .calendar-30 div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px); }

.calendar div:nth-child(31)::after {
  content: "31";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 100px; }

/*# sourceMappingURL=index.css.map */
